p {
    font-size: 1.5rem;
    color: #F5F5F5;
}

.heading-paragraph {
    color: #deef44;
    font-size: 30px;
    font-weight: bold;
}
#main-page {
    min-height: 500px;
}

h1 {
    color: #008080 !important;
}

.generic-paragraph {
    color: #2F4F4F;
}

.button {
    background-color: teal;
    color: #deef44;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
}

.button:hover {
    color: #e6ba05;
    border: none;
}

.secondary-paragraph {
    font-weight: 800;
    color: #F5F5F5;
    font-size: 30px;
}

.reading-paragraph {
    color: #deef44;
    font-weight: 800;
}

.station-title {
    font-size: 40px !important;
    font-weight: 800 !important;
}

#reading-list {
    font-size: 20px;
    color: #deef44;
    font-weight: 800;
    width: 100%;
}

#reading-list > thead > tr > th {
    font-size: 25px;
    font-weight: 800;
    color: #008080;
}

#last-reading-columns {
    background-color: #00261a;
}

.last-reading-column {
    background-color: #00452a;
    margin: 10px;
}

.menu-section {
    padding: 10px;
    background-color: #008080;
}

.buttonColor {
    background-color: #008080 !important;
}

.navbar-section {
    background-color: #008080;
}

.navbar-item {
    border: 1px solid #008080;
    border-radius: 5px;
    color: #deef44;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    font-size: 1.5rem;
}

.navbar-item:hover {
    background-color: #008080;
    color: #F5F5F5;
}

.navbar-item:focus {
    background-color: #008080;
    color: #F5F5F5;
    outline: none;
}

#start {
    font-size: 1.5rem;
    margin-right: 20px;
}

#start:hover {
    color: #F5F5F5;
}

#navbar-section p {
    color: #F5F5F5;
}

/* about html */

.header-container {
    margin-bottom: 1rem;
}

.columns {
    margin: 0;
}

.header-container .column.is-half img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    color: #008080;
    margin-bottom: 1rem;
}

.rotate-33 {
    transform: rotate(33deg);
}

.rotate-45 {
    transform: rotate(45deg);
}

.rotate-75 {
    transform: rotate(75deg);
}

.rotate-90 {
    transform: rotate(90deg);
}

.rotate-115 {
    transform: rotate(115deg);
}

.rotate-135 {
    transform: rotate(135deg);
}

.rotate-155 {
    transform: rotate(155deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-210 {
    transform: rotate(210deg);
}

.rotate-225 {
    transform: rotate(225deg);
}

.rotate-225 {
    transform: rotate(250deg);
}

.rotate-270 {
    transform: rotate(270deg);
}

.rotate-300 {
    transform: rotate(300deg);
}

.rotate-315 {
    transform: rotate(315deg);
}

.rotate-340 {
    transform: rotate(340deg);
}

.rotate-360 {
    transform: rotate(360deg);
}

/* footer */

.footer {
    background-color: #008080;
    padding: 1.5rem 0;
}
