<section id="dashboard-box" class="box">
  <form action="" method="POST">
    <div class="columns">
      <div class="field column">
        <label class="label">Code</label>
        <div class="control">
          <input class="input" placeholder="Code" type="text" name="Code">
        </div>
      </div>
      <div class="field column">
        <label class="label">Temperature</label>
        <div class="control">
          <input class="input" placeholder="Temperature" type="text" name="Temperature">
        </div>
      </div>
      <div class="field column">
        <label class="label">Wind Speed</label>
        <div class="control">
          <input class="input" placeholder="Wind Speed" type="number" name="Wind Speed">
        </div>
      </div>
      <div class="field column">
        <label class="label">Wind Direction</label>
        <div class="control">
          <input class="input" placeholder="Duration" type="number" name="Wind Direction">
        </div>
      </div>
      <div class="field column">
        <label class="label">Pressure</label>
        <div class="control">
          <input class="input" placeholder="Pressure" type="number" name="Pressure">
        </div>
      </div>
    </div>
    <div class="field mt-4">
      <div class="control">
        <button class="button is-info">Submit Report</button>
      </div>
    </div>
  </form>
</section>