<section class="content box">
    <form action="/dashboard/addStation" method="POST">
        #{if flash.error}
        <div class="notification is-danger">
            ${flash.error}
        </div>
        #{/if}
        <div class="is-normal">
            <label class="label heading-paragraph">Station</label>
        </div>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" placeholder="Title" type="text" name="title" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input" placeholder="Latitude" type="number" step="any" name="lat" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input" placeholder="Longitude" type="number" step="any" name="lng" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="field mt-4">
            <button class="button is-info buttonColor">Add Station</button>
        </div>
    </form>





</section>