<div class="content lastreading">
    <div class="columns">
        <div class="column last-reading-column">
            <p class="secondary-paragraph">${_station.name} <i class="fa-solid fa-map-marker-alt fa-beat "></i></p>
            <p class="reading-paragraph">Lat: ${_station.lat}</p>
            <p class="reading-paragraph">Lng: ${_station.lng}</p>
        </div>
        <div class="column last-reading-column">
            <p class="secondary-paragraph">Weather <i
                    class="${models.Station.getWeatherIcon(_station.getLastReading()?.code)}"></i></p>
            <p class="reading-paragraph">Code: ${_station.getLastReading()?.code ?: 'No readings'}</p>
        </div>
        <div class="column last-reading-column">
            <p class="secondary-paragraph">Temp <i
                    class="${models.Station.getTemperatureIcon(_station.getLastReading()?.temperature)}"></i></p>

            <p class="reading-paragraph">${_station.getLastReading()?.temperature ?: 'No readings'} °C</p>
            <p class="reading-paragraph">${_station.getLastReading()?.getTemperatureInFahrenheit() ?: 'No readings'}
                °F</p>
            <p class="reading-paragraph">Max: ${_station.getMaxTemperature()} °C</p>
            <p class="reading-paragraph">Min: ${_station.getMinTemperature()} °C</p>
            <p class="reading-paragraph">Trend: <i class="${_station.getLastTemperatureTrend()}"></i></p>
        </div>
        <div class="column last-reading-column">
            <p class="secondary-paragraph">Wind <i class="fa-solid fa-wind fa-beat"></i></p>
            <p class="reading-paragraph">${_station.getLastReading()?.windSpeed ?: 'No readings'} bft</p>

            <p class="reading-paragraph">
                ${models.Station.getCompassDirection(_station.getLastReading()?.getWindDirection()) ?: 'No readings'}
                <i class="${models.Station.getCompassDirectionWithIcon(_station.getLastReading()?.getWindDirection())}"></i>
            </p>
            <p class="reading-paragraph">Feels Like <br>${_station.getLastReading()?.getWindChill() ?: 'No readings'}
            </p>
            <p class="reading-paragraph">Max: ${_station.getMaxWindSpeed()}</p>
            <p class="reading-paragraph">Min: ${_station.getMinWindSpeed()}</p>
            <p class="reading-paragraph">Trend: <i class="${_station.getLastWindSpeedTrend()}"></i></p>
        </div>
        <div class="column last-reading-column">
            <p class="secondary-paragraph">Pressure <i class="fa-solid fa-minimize fa-beat"></i></p>
            <p class="reading-paragraph">${_station.getLastReading()?.pressure ?: 'No readings'} hpa</p>
            <p class="reading-paragraph">Max: ${_station.getMaxPressure()}</p>
            <p class="reading-paragraph">Min: ${_station.getMinPressure()}</p>
            <p class="reading-paragraph">Trend: <i class="${_station.getLastPressureTrend()}"></i></p>
        </div>
    </div>
</div>