<section id="dashboard-box" class="box">

    <div class="content">
        <div class="columns">
            <div class="column last-reading-column">
                <p class="secondary-paragraph">${_station.name}</p>
            </div>
            <div class="column last-reading-column">
                <p class="secondary-paragraph">Weather</p>
                <p class="reading-paragraph">${_station.getLastReading()?.code ?: 'No readings'}</p>
            </div>
            <div class="column last-reading-column">
                <p class="secondary-paragraph">Temp</p>
                <p class="reading-paragraph">${_station.getLastReading()?.temperature ?: 'No readings'} °C</p>
                <p class="reading-paragraph">${_station.getLastReading()?.getTemperatureInFahrenheit() ?: 'No readings'} °F</p>
            </div>
            <div class="column last-reading-column">
                <p class="secondary-paragraph">Wind</p>
                <p class="reading-paragraph">${_station.getLastReading()?.windSpeed ?: 'No readings'} bft</p>
                <p class="reading-paragraph">${models.Station.getCompassDirection(_station.getLastReading()?.getWindDirection()) ?: 'No readings'}</p>
                <p class="reading-paragraph">Feels Like <br>${_station.getLastReading()?.getWindChill() ?: 'No readings'}</p>
                <p class="reading-paragraph">${_station.getLastReading()?.getCodeDescription() ?: 'No readings'}</p>
            </div>
            <div class="column last-reading-column">
                <p class="secondary-paragraph">Pressure</p>
                <p class="reading-paragraph">${_station.getLastReading()?.pressure ?: 'No readings'}</p>
            </div>
        </div>
    </div>

    </div>
    <table id="reading-list" class="ui fixed table">
        <thead>
        <tr>
            <th>Code</th>
            <th>Temp</th>
            <th>Wind Speed</th>
            <th>Wind Direction</th>
            <th>Pressure</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        #{list items:_station.readings, as:'reading'}
        <tr>
            <td>${reading.code}</td>
            <td>${reading.temperature}</td>
            <td>${reading.windSpeed}</td>
            <td>${reading.windDirection}</td>
            <td>${reading.pressure}</td>
            <td><a href="/stations/${_station.id}/deleteReading/${reading.id}">Delete</a></td>
        </tr>
        #{/list}
        </tbody>
    </table>
</section>