<section class="menu-section">
  <nav class="navbar is-inverted navbar-section">
    <div class="navbar-brand">
      <a id="start" class="navbar-item" href="/"> Weather Top </a>
      <p class="navbar-item">WeatherTop Services inc.</p>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <a id="dashboard" class="navbar-item" href="/dashboard">Dashboard</a>
        <a id="about" class="navbar-item" href="/about">About</a>
        <a id="logout" class="navbar-item" href="/logout">Logout </a>
      </div>
    </div>
  </nav>
</section>