#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<section id="about">
    <div class="columns header-container">
        <div class="column is-half is-flex is-justify-content-center is-align-items-center">
            <div class="has-text-centered">
                <p class="title">Weather Top</p>
                <p class="generic-paragraph">Monitor latest weather stations readings</p>
            </div>
        </div>
        <div class="column is-half">
            <img src="/public/images/main-banner.png" alt="Main banner">
        </div>
    </div>
</section>