#{extends 'main.html' /}
#{set title:'Edit Details' /}
#{menu id:"editDetails"/}

<section class="content box">
<form method="POST" action="/account/edit">
  #{if flash.error}
  <div class="notification is-danger">
    ${flash.error}
  </div>
  #{/if}
  <div class="field">
    <label class="label heading-paragraph" for="firstName">First Name: ${member.firstname}</label>
    <div class="control">
      <input class="input" type="text" id="firstName" name="firstName" value="${member.firstname}" required>
    </div>
  </div>
  <div class="field">
    <label class="label heading-paragraph" for="lastName">Last Name: ${member.lastname}</label>
    <div class="control">
      <input class="input" type="text" id="lastName" name="lastName" value="${member.lastname}" required>
    </div>
  </div>

  <div class="field">
    <label class="label heading-paragraph" for="email">Email: ${member.email}</label>
    <div class="control">
      <input class="input" type="email" id="email" name="email" value="${member.email}" required>
    </div>
  </div>
  <div class="field">
    <label class="label heading-paragraph" for="newPassword">Password</label>
    <div class="control">
      <input class="input" type="password" id="newPassword" name="newPassword" required>
    </div>
  </div>
  <div class="field">
    <label class="label heading-paragraph" for="confirmPassword">Confirm Password</label>
    <div class="control">
      <input class="input" type="password" id="confirmPassword" name="confirmPassword" required>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button class="button buttonColor" type="submit">Save Changes</button>
    </div>
  </div>
</form>
</section>

