#{extends 'main.html' /}
#{set title:'Welcome' /}
#{menu id:"frontPage"/}

<section id="frontPage">
    <div class="columns header-container">
        <div class="column is-half is-flex is-justify-content-center is-align-items-center">
            <div class="has-text-centered">
                <p class="title">
                    Weather Top
                </p>
                <p class="generic-paragraph">
                    Select Dashboard, About or Logout
                </p>
            </div>
        </div>
        <div class="column is-half">
            <img src="/public/images/weatherTopLogo.png" alt="Main banner">
        </div>
    </div>
</section>